on:
  push:
    paths-ignore:
      - 'changelog/**'

  pull_request:

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest
    env:
      GOLANGCI_LINT_VERSION: 1.42.0
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: '^3.9'

      - name: Set up go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.16'

      - name: Install pre-commit
        run: |
          pip install pre-commit

      - name: Install golangci-lint
        run: |
          mkdir -p ~/.cache/bin
          curl -sfL -o golangci-lint.tar.gz https://github.com/golangci/golangci-lint/releases/download/v${GOLANGCI_LINT_VERSION}/golangci-lint-${GOLANGCI_LINT_VERSION}-linux-amd64.tar.gz
          tar -C ~/.cache/bin -xf golangci-lint.tar.gz --strip-components 1 --wildcards '*/golangci-lint'

      - name: Run linters
        run: |
          export PATH=$HOME/.cache/bin:$PATH
          pre-commit run --all-files
